{{> header}}
<h3>Shopping Cart</h3>
<div class="row">
    <div class="col s6">
        {{> cartitems}}
    </div>
    <div class="col s6">
        <div class="card">
            <span class="card-title">Total: $50.00</span>
            <div class="card-content valign-wrapper">
                <a class="waves-effect waves-light btn" href="/upgrade/ajax/payment">Checkout</a>
                <span style="padding-left: 10px; padding-right: 10px">OR</span>
                <button id="paypalButton">
                    <img class="responsive-img" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png"/>
                </button>
                <script>
                    document.querySelector('#paypalButton').addEventListener('click', function(event) {
                        jQuery.post('/classic/api/setexpresscheckout', function(data) {
                            window.location = 'https://www.sandbox.paypal.com/checkoutnow?token=' + data.TOKEN;
                        });
                    });
                </script>
                {{#if complete}}
                <div id="paypal-button"></div>
                <script src='https://www.paypalobjects.com/api/checkout.js'></script>
                <script type="text/javascript">
var paypalLink = document.getElementById('paypalButton');
paypalLink.style.display = 'none';
paypal.Button.render({
    env: 'sandbox', // Or 'sandbox',
    payment: function(data, actions) {
        return paypal.request.post('/classic/api/setexpresscheckout', {
            headers: {
                'Accept': 'application/paypal-json-token',
            }
        })
        .then(function (response) {
            if (!response || !response.TOKEN) {
                throw new Error('There was an error fetching the PayPal token');
            }
            return response.TOKEN;
        })
        .catch(function (err) {
            throw err;
        });
    },
    onAuthorize: function(data, actions) {
        return actions.redirect();
    },
    onCancel: function (data, actions) {
        return actions.redirect();
    },
    onError: function (error) {
        // You will want to handle this differently
        return alert(error);
    }
}, '#paypal-button');
                </script>
                {{/if}}
            </div>
            <div class="card-actions">
                {{> integrationtoggle}}
            </div>
        </div>
    </div>
</div>

{{> footer}}
