<div class="row">
    <div class="col s12">
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://i.imgur.com/w2mGFP0.jpg" class="responsive-img" />
                <span class="card-title">A Cool Watch</span>
            </div>
            <div class="card-content">
                <p>A cool watch that you are about to buy</p>
            </div>
            <div class="card-action">Price: $20.00</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://images-na.ssl-images-amazon.com/images/I/91nO32L7gaL._UL1500_.jpg" class="responsive-img" />
                <span class="card-title">A Festive Sweater</span>
            </div>
            <div class="card-content">
                <p>A festive sweater that you are about to buy</p>
            </div>
            <div class="card-action">Price: $30.00</div>
        </div>
    </div>
</div>
