<script>
    function integrationToggle() {
        var searchParams = new URLSearchParams(window.location.search);
        if (document.getElementById('integrationToggle').checked) {
            searchParams.set('complete', true);
            window.location.search = searchParams.toString();
        } else {
            searchParams.set('complete', false);
            window.location.search = searchParams.toString();
        }
    }
    
</script>
<span class="switch" onclick="integrationToggle()">
    <label>
    Hide
    {{#if complete}}
    <input id="integrationToggle" type="checkbox" checked="checked" />
    {{else}}
    <input id="integrationToggle" type="checkbox" />
    {{/if}}
    <span class="lever"></span>
    Show
    </label>
</span>
