{{> header}}

<div>Welcome to the PayPal videos application</div>

<ul class="collapsible">
  <li class="collection-item">
    <div class="collapsible-header"><i class="material-icons">arrow_upward</i>Upgrade existing integration</div>
    <div class="collapsible-body">
      <div><a href="/upgrade/link">Upgrade Link on cart page</a></div>
      <div><a href="/upgrade/form">Upgrade Form on cart page</a></div>
      <div><a href="/upgrade/ajax">Upgrade AJAX on cart page</a></div>
    </div>
  </li>
    
</ul>

{{> footer}}
  